{% extends "base.html" %}
{% block content %}

<form action="/recommend/category" method="POST">

<div>
    <label for="category">Category:</label>
    <select name="category">
        <option value="Choose">Choose</option>
        <option value="Beaches">Beaches</option>
        <option value="Culture">Culture</option>
        <option value="Food and Drink">Food & Drink</option>
        <option value="History">History</option>
        <option value="Landscapes">Landscapes</option>
        <option value="Wildlife">Wildlife</option>
    </select>
    <input type="submit" value="Recommend">
</div>

</form>


{% endblock %}