{% extends "base.html" %}
{% block content %}

<article class="formcontainer">
<form class=form action="/visited/{{country.id}}" method="post">

  <div>
    <label for="name">City:</label>
    <input type="text" id="name" name="name" placeholder="City Name" required autofocus>
  </div>

  <div>
    <label for="year">Year visited:</label>
    <input type="number" id="year" name="year" placeholder="Year" required>
  </div>

  <div>
    <label for="category">Best for:</label>
    <input type="text" id="category" name="category" placeholder="City best for" required>
  </div>

  <div>
    <label for="photo_link">Link a photo:</label>
    <input type="text" id="photo_link" name="photo_link" placeholder="URL for photo" required>
  </div>

  <div>
    <label for="country_id">Country:</label>
    <input type="text" id="country_id" name="country_id" value="{{country.id}}">
  </div>

  <!-- <div>
    <label for="country">Country:</label>
    <select name="country_id" id="country">
        {% for country in countries %}
            <option value="{{country.id}}"> {{country.name}} </option>
        {% endfor %}
    </select>
  </div> -->

  <div>
    <label for="visited">Visited:</label>
    <select name="visited" id="visited">
        <option value="true">Yes</option>
        <option value="false">Not yet</option>
    </select>
</div>

  <button type="submit">Add City</button>

</form>
</article>

{% endblock %}