{% extends "base.html" %}
{% block content %}

<h2>Countries on my Bucket List</h2>


<article class="destinations">
{% for country in countries %}
    <ul class="eachdestination">
        <li><strong>Country: </strong>{{country.name}}</li>
        <li><strong>Continent: </strong>{{country.continent}}</li>
        <li><p><a href="/visited/{{country.id}}">See Cities</a></p></li>
        <hr>
    </ul>
{% endfor %}
</article>

<p class="newlink"><a href="/visited/new">Add new country</a></p>

{% endblock %} 