{% extends "base.html" %}
{% block content %}

<form action="/visited" method="post">
    <div>
        <label for="name">Country:</label>
        <input type="text" id="name" name="name" placeholder="Country Name" required autofocus>
    </div>
    <div>
        <label for="continent">Continent:</label>
        <input type="text" id="continent" name="continent" placeholder="Continent" required>
    </div>
    <div>
        <label for="city_name">City:</label>
        <input type="text" id="city_name" name="city_name" placeholder="City Name" required autofocus>
    </div>
    <div>
        <label for="year">Year Visited:</label>
        <input type="number" id="year" name="year" required>
    </div>
    <div>
        <label for="category">Best for:</label>
        <input type="text" id="category" name="category" placeholder="City best for" required>
    </div>
    <div>
        <label for="photo_link">Photo Upload</label>
        <input type="text" id="photo_link" name="photo_link" placeholder="URL for Photo">
    </div>
    <div>
        <label for="visited">Visited:</label>
        <select name="visited" id="visited">
            <option value="true">Yes</option>
            <option value="false">Not yet</option>
        </select>
    </div>
    <button type="submit">Add City</button>
</form>

{% endblock %}