{% extends "base.html" %}
{% block content %}


<h2>Cities in {{country.name}}</h2>

<article class="destinations">

    {% for city in cities%}
    <ul class="eachdestination">
        <li>City: {{city.name}}</li>
        <li>Famous for: {{city.category}}</li>
        <li>Status: {{city.visited}}</li>
        <li><p><a href="/visited/{{country.id}}/{{city.id}}">Let's Go!</a></p></li>
        <form action="/visited/{{city.id}}/delete" class="delete-form" method="POST">
            <input type=submit value="Delete">
        </form>
    </ul>
    {% endfor %}

</article>
<p class="newlink"><a href="/visited/{{ country.id }}/new">New City</a></p>
{% endblock %}