{% extends "base.html" %}
{% block content %}


<h1>Country: {{country.name}}</h1>

<article class="destinations">

    {% for city in cities%}
    <ul class="eachdestination">
        <li>City: {{city.name}}</li>
        <li>Category: {{city.category}}</li>
        <li>ID: {{city.id}}</li>
        <li><p><a href="/visited/{{ country.id }}/{{ city.id }}">See city details</a></p></li>
        <form action="/visited/{{city.id}}/delete" class="delete-form" method="POST">
            <input type=submit value="Delete">
        </form>
    </ul>
    {% endfor %}

</article>
<p class="newlink"><a href="/visited/{{ country.id }}/new">New City</a></p>
{% endblock %}