{% extends "base.html" %}
{% block content %}

<article class="blurb">
<h1>Welcome to Bucket List</h1>

<p>Bucket List is your personal travel note book.</p>

<p>Keep a <a href='/visited'>bucket list</a> of countries and cities you want to visit.</p>
<p>Record the date and link a photo of your trip when you visit a destination</p>
<p>Look back on your travels with your <a href='/destination'>been list.</a></p>
<p>Recommend the best cities for food, culture or other activites using your <a href='/recommend'>hit list</a></p>



</article>

<article class="formcontainer">
    <form class="form" action="/result" method="post">
        <div>
            <label for="search">City search:</label>
            <input type="text" id="search" name="search" placeholder="Search for a city..." required autofocus>
        </div>
        <button type="submit">Search</button>
    </form>
</article>

{% endblock %}