
body{
    background-image: url("palm_tree.jpg");
    background-color: #CDD4BF;
    background-blend-mode: lighten;
    background-size: cover;
}

.banner {
    background-color: #301523;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;

}

.title{
    color: #F6F6F3;
    padding-left: 30px;
}

.menu{
    list-style: none;
    text-align: right;
    padding-right: 30px;
}

a{
    color: #F6F6F3;
}


.destinations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.eachdestination{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 30px auto;
    background-color: #CDD4BF;
    border: 1px solid #344E41;
    border-radius: 10px;
    box-shadow: 0 4px 6px #000;
    list-style: none;
    padding-top: 20px;
}

.newlink{
    display: flex;
    align-self: flex-start;
    width: 200px;
    margin: 30px auto;
    background-color: #7C6973;
    border-radius: 10px;
    box-shadow: 0 4px 6px #000;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.formcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;

}

.form{
    width: 200px;
    padding: 20px;
    background-color: #7C6973;
}

input[type=text], input[type=number], select{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:0 0 3px 3px #F6F6F3;
}

label{
    color: #F6F6F3;
}

button{
    background-color: #F6F6F3;
    border-radius: 10px;
    box-align: center;
}